@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #8ecfff;
  color: black;
  font-family: "Roboto", sans-serif;
}

.navbar_custom {
  background-color: white;
}

.components {
  @apply lg:px-[100px] md:px-10 sm:px-0;
}

.first_screen {
  background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.133) 0%,
      rgba(255, 255, 255, 1) 100%
    ),
    url("/Users/daniilsereda/React_projects/Web-design/swimming_school/src/assets/images/swimmer.jpg");
  background-size: cover;
  background-position: center;
}
